@import "_dh";
html {
	@import "_dh_htmlcanvas";
	background:#ccc;
}
body {
	display:block; margin:15px auto; width:700px; padding:30px;
	background:#fff; box-shadow:2px 2px 20px rgba(0,0,0,0.3);
}

@import "../Aloha-Editor/src/plugins/oer/math/css/math";